<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">Welcome to the IdeaBox App
    </div>
  </div><!-- /.container-fluid -->
  <%= button_to "Sign Up", new_user_path, :class => "btn pull-right btn-primary btn-lg signup-button", :method => :get  %>

</nav>


<div id="form-login" class="form-login">

  <%= form_for :session do |f| %>
    Username
      <div id="form-login-input" class="form-login-input">
        <%= f.text_field :username %><br>
      </div>

    Password
      <div id="form-login-input" class="form-login-input">
      <%= f.password_field :password %> <br>
      </div>

      <%= flash.now[:error] %>

    <div id="form-login-submit" class="form-login-submit"><br>
         <%= f.submit "Login" %>
    </div>

  <% end %>
</div>
