<nav class="navbar navbar-default">

  <div class="container-fluid">
    <div class="navbar-user-show-page"> Welcome <%= current_user.name %></div>
  </div>

      <%= button_to "New Idea", new_user_idea_path, :class => "btn pull-left btn-primary btn-lg newidea-button", :method => :get  %>

      <%= button_to "Logout", logout_path, class: "btn pull-right btn-primary btn-lg signout-button", method: :delete %>

</nav>

  <div class="container table-ideas">
    <h2>Ideas Table</h2>
    <p>Here are all the ideas you have submitted:</p>
    <table class="table table-bordered"><br>
      <thead>
          <tr>
            <th style="text-align:center">Title</th>
            <th style="text-align:center">Details</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.ideas.each do |idea| %>
        <tr>
          <td> <%= idea.title %></td>
          <td> <%= link_to "Details", user_idea_path(idea) %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
